{% extends 'celsius/base.html' %}


{% block content %}
	<h1>{{ title }}</h1><br>
	<form action='' method='POST'>
		{% csrf_token %}
		{{ form.celsius.label }}
		{% for radiobutton in form.celsius %}
			{{ radiobutton }}
		{% endfor %}
		<br><br>{{ form.value.label }}
		{{ form.value }}<br><br>
	<button type="submit">Конвертировать</button>
	</form>

	
	{% if rez %}
	<br><br>{{ rez }}
	{% endif %}
	
	{% if conversion %}
		<br><br><p>Последние конвертации:</p>
		{% for c in conversion %}
			<p>{{ c }}</p>
		{% endfor %}
		<a href="{% url 'cleaning_session' %}"><button type="submit">Очистить</button></a>
	{% endif %}
		
{% endblock %}
